<header id="home">
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- START LOGO -->
                    <div class="logo"> <a onclick="$('.slide').animatescroll();" routerLink="/">Screw Design</a> </div>
                    <!-- END LOGO -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-md-9" >
                    <!-- START MAIN MENU -->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header"> </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse">
                            <div class="navigation">
                                <ul class="nav navbar-nav">
                                    <li><a translate  onclick="$('.scroll').animatescroll();" class="page-scroll" routerLink="/">Home</a>

                                    </li>

                                    <li><a translate  onclick="$('.scroll').animatescroll();" class="page-scroll" routerLink="/services">Services</a>

                                    </li>

                                    <li><a translate  onclick="$('.scroll').animatescroll();" class="page-scroll" routerLink="/portfolio">Portfolio</a>

                                    </li>
                                    <li><a translate  onclick="$('.scroll').animatescroll();" class="page-scroll" routerLink="/blog">Blogs</a>

                                    </li>
                                    <li><a translate onclick="$('.contact-me').animatescroll();"  class="page-scroll">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                    <!-- END MAIN MENU -->
                </div>
            </div>
        </div>
    </div>
    <!-- Start Particle area -->
    <section id="particle-area" class="particle-area slide">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="banner-text text-center">
                            <h1 class="font-w-8 font-30 ltr-s-1 pb-10 color-w"></h1>
                            <h3 class="font-w-8 font-55 ln-h-70 color-w">Time for  <span class="color">change</span>  <br>
                            </h3>
                            <p class="font-w-6 color-w ln-h-30 font-14 pb-20"> Welcome to my portfolio page </p>
                            <a href="#contactus" class="btn smoth-scroll">Contact us</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
