<!-- End Latest News Section -->
<section id="about-area-1" class="about-area-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="seo-about-img"> <img class="img-responsive" src="images/sec-img.png" alt=""> </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" [@Content]="active">
                <div class="tb-about-2-content" >
                    <h3 class="pb-20">Latest News<span class="Color-b"> !</span></h3>
                    <h1 class="font-w-6">Upgrading</h1>
                    <h5></h5>
                    <p class="mb-15">I changing some functionality,  come later  </p>
                    <a [routerLink]="['/blog',29]" class="btn">Read More</a> </div>
            </div>
        </div>
    </div>
</section>