<section id="services_3" class="services_3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title ptb-10">
                    <h2 class="font-w-8 ln-h-40"><span class="color">THE </span>Services <BR>
                        provide</h2>
                    <p class="font-w-6"></p>
                </div>
                <div class="section_3 center">
                    <!-- Single Service Start -->
                    <div  *ngFor="let service of services;let type=index" class="col-md-4 col-sm-6 col-xs-12" [@Content]="active" >
                        <div class="item">
                            <i *ngIf="type==1" class="fa fa-desktop pt-20"></i>
                            <i *ngIf="type==0" class="fa fa-code pt-20"></i>
                            <h4>{{service.title}}</h4>
                            <p>{{service.description}}</p>
                        </div>
                    </div>
                    <div  class="col-md-4 col-sm-6 col-xs-12" [@Content]="active" >
                    <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
                        <!--<div class="item"> <i class="fa fa-code pt-20"></i>-->
                            <!--<h4>Web Development</h4>-->
                            <!--<p>Laravel ,Django ,Angular</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div >
                        <div class="item"> <i class="fa fa-bomb pt-20"></i>
                            <h4>Hobby</h4>
                            <p>Exploring Unity3d game  engine for hobby and fun time </p>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




