



<!-- Start portfolio-3-section area -->
<section id="portfolio2" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="font-w-8"><span class="color"></span>My works</h2>
                    <p class="font-w-6">Last work</p>
                    <img *ngIf="status" src="/images/loading.gif" width="100" height="100" alt="loading"/>

                </div>
                <!-- Portfolio Filters -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="portfolio-filter center mtb-20">
                                <li class="filter active" data-filter="*">All</li>

                                <li class="filter" data-filter=".php">Web</li>
                                <li class="filter" data-filter=".css">Games</li>
                                <li class="filter" data-filter=".html">Photo</li>
                            </ul>
                            <!-- /Portfolio Filters -->
                            <!-- Portfolio Wrap -->

                            <div class="row portfolio-container" >

                                <!-- single portfolio -->
                                <div *ngFor="let image of images;let pic=index"  class="col-md-4 col-sm-6 col-xs-12 work php">
                                    <a (click)=showConfirm(image.url) >


                                    <img src="/works/{{image.url}}"  class="img-responsive" alt="">
                                    <div class="work-inner">
                                        <div class="work-info">
                                            <h2>Project Title</h2>
                                            <p>Catagory / Design</p>
                                            <i class="fa fa-search"></i>
                                        </div>

                                    </div>
                                    </a>

                                    <!--<div id="work_id{{pic}}" class="mfp-hide work-popup">-->
                                        <!--<img src="/works/{{image.url}}" alt="">-->
                                    <!--</div>-->
                                <!-- single portfolio -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /Portfolio Wrap -->
</section>
<!--Portfolio start-->
