<div class="row">
    <ngb-alert *ngIf="!showAlert" [dismissible]="false">
        <strong>Thank you! </strong>
        Your message has been successfully sent. We will contact you very soon!
        To send new contact press button.
    </ngb-alert>
    <button (click)="goContact()" *ngIf="!showAlert" class=" btn btn-primary">Contact</button>
    <div class="col-lg-12">
        <form *ngIf="showAlert" (ngSubmit)="onSubmit(f);f.reset()" #f="ngForm"  id="contactForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" #name="ngModel" [(ngModel)]="model.name" name="name" placeholder="Your Name *" id="name" required >
                        <span [hidden]="name.valid || name.pristine" class=" text-danger">
                        Name is required
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" [(ngModel)]="model.email" #email="ngModel" name="email" class="form-control" placeholder="Your Email *" id="email" required >
                        <span [hidden]="email.valid || email.pristine" class=" text-danger">
                        Email is required , like yourmail@email.com
                        </span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea #text="ngModel" [(ngModel)]="model.text" name="text" class="form-control" placeholder="Your Message *" id="text" required ></textarea>
                        <span [hidden]="text.valid || text.pristine" class=" text-danger">
                        Message is required

                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button [disabled]="!f.valid" type="submit" class="btn btn-primary" translate>Send Message</button>
                </div>
            </div>
        </form>
    </div>
</div>
